nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    height: 90px;
    width: 250px;
}


.right ul{
    display: flex;
    
}

.right ul li{
    list-style: none;
    padding: 20px;
}

