@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.6s ease;
}

.growing-effect {
  background-color: #fd2c2a;
  z-index: 1;
  will-change: transform;
  mix-blend-mode: screen;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  transition: none !important;
}

canvas {
  pointer-events: none;
}